<div class="users">
  <div class="container">
      <h1 class="users__header">user List</h1>
    <div class="users__cardGroup">
      <div class="users__card" *ngFor="let item of userList" (click)="redirect(item.id)">
        <p>{{ item.first_name }}</p>
        <p>{{ item.email }}</p>
      </div>
    </div>
    <div class="pagination">
      <p *ngFor="let pageNum of totalPagesList"class="pagination__pageNumber" (click)="paginate(pageNum)">{{ pageNum }}</p>
    </div>
  </div>
</div>
