*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.users{
  width: 100%;
  background: linear-gradient(to bottom , #bdc3c7,#2c3e50);
  min-height: 100vh;
  padding-top: 32px;
  &__header{
    text-align: center;
    text-transform: uppercase;
  }
  &__cardGroup{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  &__card{
    margin: 12px;
    background: white;
    border-radius: 5px;
    padding: 8px 24px;
    transition: all .2s ease-in;
    &:hover{
      cursor: pointer;
      box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.3), -4px -4px 4px rgba(50,50,50 ,.3);
    }
    
  }

}

.container{
  width: 90%;
  margin: 0 auto;
}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 12px;

  &__pageNumber{
    margin: 12px;
    padding: 8px 12px;
    background: #2c3e50;
    border-radius: 4px;
    color: wheat;
    cursor: pointer;
  }
}