<div class="userDetail">
    <div class="userDetail__card">
        <img class="userDetail__avatar" [src]="userInfo.avatar" />
        <p>{{userInfo.id}}</p>
        <p>{{userInfo.email}}</p>
        <p>{{userInfo.first_name}}</p>
        
    </div>
</div>
