.userDetail {
  display: flex;
  width: 100%;
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
  min-height: 100vh;


  justify-content: center;
  &__card {
    height: 100%;
    background: white;
    border-radius: 5px;
    text-align: center;
    padding: 24px 64px;
    margin-top: 32px;
  }

  &__avatar{
    border-radius: 50%;
  }
}
